@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Bem vindo!</h1>
    <p class="lead">:)</p>
    <p><a href="../Clientes" class="btn btn-primary btn-lg">Ir para Clientes &raquo;</a></p>
</div>
